 /* * {
    border: solid yellow 2px;
}  */

html {
  height: -webkit-fill-available;
}

body {
    font-family: 'Comic Neue', cursive;
    background-color: whit;
    color: white;
    /* border: solid rgb(25, 0, 255) 2px; */
    height: 100vh;
    width: 100vw;
    /* //min-width: 775px; */
    overflow: hidden;
    margin: 0;
    min-height: -webkit-fill-available;

}

h1 {
  font-size: 3vw;
}

.main {
    height: 100%;
    width: 100%;
    /* border: solid red 2px; */
    display: flex;
    flex-direction: column;
    /* background-color: #5d1049; */
}

.nav {
    display: flex;
    width: 99vw;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
    /* border: 1px solid ; */
    display: flex;
    align-items: center; 
}

.top {
    height: 33%;
    display: flex;
    justify-content: space-around;
}

.scoreboard {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.hud {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 3vw;
    font-weight: 600;
    
}
.wins {
    font-size: 2.5vw;
    font-weight: 200;
}
.wins::before {
    content: 'Wins: '
}

.token {
    font-size: 10vw;
    padding-right: 5px;
}

.fighter {
    font-size: 8vw;
}

.middle {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    
    height: 33%;
    display: flex;
    justify-content: space-around;
    
}


.container-column {
 flex-direction: column;
 width: 50%;
 border: none;
}

.container-column-wide {
 flex-direction: column;
 width: 100%;
 height: 100%;
 border: none;
}

.container-row {
 flex-direction: row;
 height: 100%;
 width: 100%;
}

.fighter-container {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}



.button {
    height: 5vw;
    width: 20vw;
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
    background-color: transparent;
    font-size: 2vw;
    color: white;
    border-radius: 50px;
    text-align: left;
    /* white-space: nowrap; */
    margin: .5vw;
    border: none;
    transition: transform .1s;
}


.button-menu {
    font-size: 2.5vw;
    padding-left: 1vw;
}

.button-menu-small {
    width: 1vw;
    text-align: center;

    font-size: 2.75vw;
    padding-left: 10px;
}
.button--round {
    margin-left: 0;
    height: 12vw;
    width: 12vw;
    text-align: center;
    background-color: transparent; 
    border-radius: 6vw;
    position: relative;
}

.container-menu {
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    /* border: 1px solid; */
border: 1px solid;
    margin-top: .5vw;
    margin-right: 1vw;
    padding: 1vw;
    /* padding:10px; */
    /* background-color: #720d5d; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

.container-menu-nav {
    justify-content: space-between;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.button--small--round {
    height: 3vw;
    width: 3vw;
    margin-left: 3vw;

    text-align: center;
    background-color: transparent;
    border-radius: 1.5vw;
    position: relative;
}

.button--medium--round {
    height: 5vw;
    width: 5vw;
    font-size: 3vw;
    white-space: nowrap;
    margin-left: 20px;
    text-align: center;
    background-color: transparent;
    border-radius: 5vw;
    
}

.menu--title {
    margin-left: 2vw;
    font-size: 2.1vw;
}

.container--player1 {
    align-self: flex-end;
    border: 1px solid;
    height: 11vw;
    border-radius: 10vw;
    border: 3px solid;
    background-color: blue;
    padding-right: 2.5vw;
    
    margin: 20px;
    /* background-color: #720d5d; */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.prompt {
    text-align: center;
    font-size: 5vh;
}

.container--player2 {
    align-self: flex-start;
    border: 1px solid;
    height: 11vw;
    border-radius: 10vw;
    border:none;
    background-color: #6968689a;
    padding-right: 2.5vw;
    margin: 20px;
    border: 3px solid darkgray;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-menu-title {
   bottom: 2vw;
}
.container--menu--options {
    flex-direction: column;
    justify-content: center;
    border: none;
}

.container--option {
width: 90%;
border-radius: 50px;
padding:10px;
margin: 10px;
}

.container--option--avatar {
    margin-left: 2vw;
}

.container--option--stats {
    white-space: nowrap;
}

.option-caption {
    margin-left: 10 px 
}

.token-button {
    font-size: 20vw;
}

.fighter-button[name]::before {
    content: attr(name);
    width: 12vw;
    text-align: center;
    display: block;
    position: absolute;
    border-radius: 2px;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    bottom: -25%;
    transform: scale(2);  
    visibility: hidden;
}

.fighter-button[name]:hover::before {
    visibility: visible;
}

.container-menu-options {
    flex-direction: column;
    justify-content: center;
}

.game-board {
border: blue solid 10px;
display: flex;
flex-direction: column;
height: 100%;
width: 50%;

}
input {
    padding: 5px;
}
.container-board {
    /* border: 10px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container-field{
    width: 95%;
}

button:hover {
    transform: scale(1.2);

    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.frosted {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  
  
 
} 